body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #f5f5f5;
	margin: 0px;
	text-align: center;
}

div {
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
}

footer {
	text-align: center;
	color: black;
	padding: 10px;
	margin: 0px;
	border-radius: 0px;
	border: 0px;
}

button {
	background-color: #8888ff;
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	margin: 5px;
}

button:hover {
	background-color: #aaaaff;
}

canvas {
	border: 2px solid #333;
	margin: 10px 0;
	display: block;
}

.title {
	text-align: center;
	background-color: #8888ff;
	color: white;
	padding: 10px;
	margin: 0px;
	border-radius: 0px;
	border: 0px;
}

.section {
	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 8px;
}

.settings {
	text-align: left;
	padding: 0px;
	margin: 10px;
}